@*@using X.PagedList.Mvc.Core;
    @using X.PagedList;*@
@model IEnumerable<GradutionProject.Models.Category>
@{
    Layout = null;
}





<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <a onclick="showpop('@Url.Action("Create","Categories",null,Context.Request.Scheme)','Create Category')" class="btn btn-primary text-light ">Create Category</a>
    </div>
   
</div>

<div class="col-sm-12 mt-4">
<h3 class="text-center font-weight-bold border-bottom" style="color: #4272d7;width:100%">Category Table</h3>
<br />
<table id="category" class="table  table-bordered table-hover text-center  " style="width:100%">
</table>
</div>

@*<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId" onclick="ShowInPopEdit('@Url.Action("Edit","Categories",new {id= item.CategoryId },Context.Request.Scheme)','Edit Category')" class="btn btn-success text-dark">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class=" btn btn-danger text-dark" onclick="DeleteCategories(@item.CategoryId)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                @Html.PagedListPager((IPagedList)ViewBag.page, page => Url.Action("Index", "Categories", new { page = page }),
                new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    ContainerDivClasses = new[] { "navigation" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" },
                })
            </div>
        </div>
    </div>*@